/* Created by william on 2019/7/2 14:24 */
/* Develop by william on 2019/7/2 14:24 */
.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0;
  box-shadow: 0 0 10px 0 hsla(0, 6%, 58%, .6);

  &__item {
    display: inline-block;
    width: 25%;
    text-align: center;
    position: relative;

    & > img {
      width: .6rem;
    }
  }
}
