/* Created by william on 2019/7/9 15:07 */
/* Develop by william on 2019/7/9 15:07 */
@import "../../../common/scss/variables";
.root {
  height: 100%;
  background: $globalBackgroundColor;
  position: relative;
  padding-bottom: .5rem;
  &__search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: transparent;
  }

  &__data {
    height: 100%;
    overflow: auto;
  }
}
