/* Created by william on 2019/7/8 15:08 */
/* Develop by william on 2019/7/8 15:08 */
@import "../../common/scss/variables";

.root {
  position: relative;
  height: 100%;

  &__content {
    position: absolute;
    top: 15%;
    left: .4rem;
    width: calc(100% - .8rem);
  }

  &__logo {
    text-align: center;
    color: #e43130;
    margin-bottom: .2rem;

    & > div {
      font-size: .24rem;
    }

    & > img {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
    }
  }

  &__account, &__password {
    height: .4rem;
    line-height: .4rem;
    border-bottom: 0.01rem solid $highBackgroundColor;
    padding-left: .05rem;
    color: $fontColor;
    position: relative;

    &__text {
      display: inline-block;
      position: absolute;
    }

    &__number {
      display: inline-block;
    }

    span {
      width: .02rem;
      height: .2rem;
      vertical-align: -.042rem;
      background: $highBackgroundColor;
      display: none;
    }
  }

  &__account {
    span {
      &.account__cursor {
        display: inline-block;
        animation: cursor 1s infinite steps(1, start);
      }
    }
  }

  &__password {
    span {
      &.password__cursor {
        display: inline-block;
        animation: cursor 1s infinite steps(1, start);
      }
    }
  }

  &__password {
    margin-top: .03rem;
    position: relative;

    &__view {
      width: .16rem;
      position: absolute;
      right: .06rem;
      z-index: 100;
      top: calc(50% - .08rem);
    }
  }

  &__submit {
    margin-top: .2rem;

    button {
      @include button(100%, .4rem, $highBackgroundColor, $white, .5rem, $mdFontSize);
    }

    &__disabled {
      background: $disabledBgColor !important;
    }
    button {

    }
  }

  &__footer {
    margin-top: .1rem;
    text-align: center;
    &__way {
      &:after {
        content: '';
        display: block;
        clear: both;
      }

      div {
        color: $highFontColor;
      }

      & > div:first-child {
        float: left;
      }

      & > div:last-child {
        float: right;
        color: $highBackgroundColor;
      }
    }

    &__other {
      height: .3rem;
      line-height: .3rem;
      margin-top: .8rem;

      &__title {
        position: relative;
        text-align: center;
        margin-bottom: .1rem;

        span:last-child {
          color: $CCC;
          background: $white;
          position: relative;
          z-index: 1;
          padding: 0 .1rem;
        }

        span:first-child {
          position: absolute;
          width: 100%;
          height: .01rem;
          background: $CCC;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: 0;
        }
      }

      &__wechat, &__qq {
        width: .48rem;
        height: .48rem;
        display: inline-block;
      }

      &__wechat {
        margin-left: .1rem;
        background: url("../../images/qq.jpg");
        background-size: .48rem;
      }

      &__qq {
        margin-right: .1rem;
        background: url("../../images/wechat.jpg");
        background-size: .48rem;
      }
    }
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
