/* Created by william on 2019/7/17 14:31 */
/* Develop by william on 2019/7/17 14:31 */
@import "../../../common/scss/variables";
.root {
  height: 100%;
  overflow: hidden;
  background: $globalBackgroundColor;
  &__search {
    position: relative;
    z-index: 100;
  }
  &__content {
    height: 100%;
    &__list {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - .9rem);
      height: 100%;
      background: $white;
    }
  }
  &__type {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: .9rem;
    & > div {
      overflow: auto;
    }
  }
}
