/* Created by william on 2019/7/2 15:48 */
/* Develop by william on 2019/7/2 15:48 */

// font color

$fontColor: #666;
$baseFontColor: #4A4A4A;
$highFontColor: #9A9A9A;
$lightFontColor: #6C6C6C;

// background color

$baseBackgroundColor: #E4393C;
$backgroundColor: #F63515;
$highBackgroundColor: #e43130;
$deepBgColor: #C21A1A;
$disabledBgColor: #FAA39B;
$globalBackgroundColor: #F5F5F5;

$white: '#FFF';

// font size

$fontSize: .14rem;
$smallFontSize: .12rem;
$mdFontSize: .16rem;
$largeFontSize: .18rem;
$superLargeFontSize: .2rem;

$white: #FFF;

$CCC: #CCC;
$keyboardBg: #D0D5DB;

// mixin

@mixin button($width, $height, $bg, $color, $radius, $font) {
  width: $width;
  height: $height;
  line-height: $height;
  background: $bg;
  font-size: $font;
  color: $color;
  border-radius: $radius;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
}

@mixin input($width, $height, $bg, $color, $radius, $font, $border) {
  width: $width;
  height: $height;
  line-height: $height;
  background: $bg;
  font-size: $font;
  color: $color;
  border-radius: $radius;
  border: $border;
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
}


