/* Created by william on 2019/7/7 16:00 */
/* Develop by william on 2019/7/7 16:00 */
@import "../../common/scss/variables";
.root {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  &__content {
    background: $keyboardBg;
    padding-top: .04rem;
  }
  &__header {
    text-align: center;
    font-size: $superLargeFontSize;
    margin-bottom: .08rem;
    padding-top: .04rem;
    position: relative;
    button {
      position: absolute;
      right: .1rem;
      top: calc(50% + .02rem);
      transform: translateY(-50%);
      color: $highBackgroundColor;
      background: transparent;
      outline: none;
      border: 0;
      padding: 0;
      margin: 0;
    }
  }
}
